<!DOCTYPE html>
<html>
    <style>
        body{background-color: blueviolet;}
    </style>
    <head>
        <title>home</title>
    </head>
    <body>
        <h1>homepage with ejs</h1>
        <h2><%=name%></h2>
    </body>
</html>